@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$blue: hsl(207, 100%, 98%);
$cyan: hsl(192, 100%, 9%);
$pink: hsl(322, 100%, 66%);

$info: $cyan;
$secondary: $pink;
$success: $pink;
$light: $blue;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

$input-border-radius: .5rem;
$input-border-radius-sm: .5rem;
$input-border-radius-lg: .5rem;

$input-btn-padding-y: 1rem;
$input-btn-padding-y-sm: 1rem;
$input-btn-padding-y-lg: 1rem;

$btn-padding-x: $input-btn-padding-x;
$btn-padding-y: $input-btn-padding-y;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $border-radius-lg;

$font-family-base: 'Open Sans', sans-serif;

$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;
$headings-color: $cyan;

@import 'bootstrap';